body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav ul li {
    margin-bottom: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

main {
    margin-left: 200px; /* Отступ для основного контента */
    padding: 2em;
    flex: 1; /* Растягивает основной контент на оставшееся пространство */
    min-height: calc(100vh - 120px); /* Высота основного контента с учетом футера */
}

.products {
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer.footer-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    z-index: 1000;
}
