<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зоомагазин</title>
    <link rel="stylesheet" href="{% static 'css/private.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{%url 'index'%}">Главная</a></li>
                <li><a href="{%url 'about'%}">О нас </a></li>
                <li><a href="{%url 'contact'%}">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="products">
            <h2>Секреты фирмы</h2>
            <div class="product-grid">
                <div class="product-card">
                    <h3>Секрет</h3>
                    <p>Животные без прививок</p>
                </div>
                <div class="product-card">
                    <h3>Секрет</h3>
                    <p>На животных ставят опыты</p>
                </div>
                <div class="product-card">
                    <h3>Секрет </h3>
                    <p>В одном из кроликов живет Venom</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer-sticky">
        <p>&copy; 2025 Зоомагазин</p>
    </footer>
</body>
</html>
